*{
    margin: 0;
    padding: 10px;
  box-sizing: border-box; }
  .body{
    font-family: 'BhuTuka Expanded One', cursive;
  }
a {
    text-decoration: none;
}
.padre{
display: flex;
flex-flow: column nowrap;
}
.header{
    background: url(../jj/imagenes/img.chispa2.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
flex-flow: column nowrap;
}
.menu{
    background:rgba(0,0,0,.1 ) ;
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
   align-items: center;
   border-bottom: 1px solid rgba(255,255,255,.5);
}
.logo{
  
    flex: 1 1 auto;
   
}
.nav{
   
    flex: 5 1 auto;
    
}
      .nav a{
          color: gray;
          font-size: 11px;
          text-transform: uppercase;
          padding: 0 10px;
          letter-spacing: 2px ;
      }
      .nav a:hover {
          color: #343434;


      }
.social{
   
    flex: 1 1 auto;
    display: flex;
    
}
     .social a{
        
         font-size: 18px;
         color:white;
         padding: 0 5px;
     }
     .social a:hover{
         color: #343434;

     }
.texto-principal{
   background: #2F4F4F;

}
h1{
    background:#FFFAF0 ;
}
.section{
    background: #000;
    display: flex;
}
.articulos{
    background:#008080 ;
    flex: 2 1 auto;
    display: flex;
    flex-flow:  row wrap;

}
.article{
    background:salmon ;
    flex: 1 1 40%;
}
.navegacion{
    background:#F0F8FF ;
    flex: 1 1 100%;
}
.aside{
    background:#F0FFFF ;
    flex: 1 1 auto;
}
.publicidad{
    background:#5F9EA0 ;
}
.footer{
    background: #000;
    display: flex;
    justify-content:  center;
}
.pie{
    background: #ADD8E6;
    width: 300px;
   
}
@media all and (max-width: 800px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
}
@media all and (max-width: 600px){
    .articulos{
        flex-direction: column;
    }
}
@media all and ( max-width:400px){
    .aside{
        flex-direction: column;
    }
}